@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color:rgb(255, 15, 123);
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: url(./balloon.png);
  background-repeat: no-repeat;
}


/* main */
h1{
    color: rgb(233, 14, 14);
}
main {

  text-align: center;
  margin: 7rem;
  border: 5rem;
}

p{
  font-size: xx-large;
  margin: 2rem;
}
#notice-div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 20%;
  margin: 2rem auto;
  background-color: rgba(255, 170, 184, 0.6);
}

#label {
  display: block;
  font-size: large;
  font-weight: 600;
}

#date {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#result {
  font-size: x-large;
  margin: 2rem 0;
  color: rgb(65, 3, 3);
}